* {
    box-sizing: border-box;
}

body {
    background-color: rgb(5, 2, 24);
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
}

#wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ddd;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 1000px;
}

header {
    padding: 20px 0px;
}

#heading {
    font-size: 26px;
}

#infoButton {
    color: #aaa;
    position: absolute;
    right: 0;
    top: 26px;
    border: 1px solid #aaa;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: all 200ms;
}

#infoButton:hover {
    color: rgb(5, 2, 24) !important;
    background-color: #ddd;
}

.infoButtonClicked {
    color: rgb(5, 2, 24) !important;
    background-color: #ddd;
}

#infoText {
    width: 70%;
    display: none;
    font-size: 18px;
}

#infoText a {
    color: orange;
}

#infoText img {
    width: 50px;
    background-color: white;
    border-radius: 5px;
}

footer {
    width: 100%;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
}

#game {
    width: 100%;
    background-color: yellow;
    height: 700px;
    background: url("./img/background-small.jpg") no-repeat center;
    position: relative;
}

.tile {
    position: absolute;
}

.tileFront {
    position: absolute;
    background-image: linear-gradient(to left top, #eec, #eef);
    border-radius: 5px;
    border: 1px solid #555;
    cursor: pointer;
}

.tileFront:hover {
    background-image: linear-gradient(#eea, #eea);
}

.selectedTile {
    background-image: linear-gradient(#eea, #eea);
}

.tileBack {
    position: absolute;
    background-color: #888;
    border-radius: 7px 0px 0px 0px;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
}

.leftEdge {
    position: absolute;
    background-color: #888;
    border-left: 1px solid #555;
    border-bottom: 1px solid #555;
    transform: skewX(45deg);
}

.rightEdge {
    position: absolute;
    background-color: #888;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    transform: skewY(45deg);
}

@media (max-width: 1050px) {
    main {
        transform: scale(0.9);
    }
}

@media (max-width: 940px) {
    main {
        transform: scale(0.8);
    }
}

@media (max-width: 820px) {
    main {
        transform: scale(0.7);
    }
}

@media (max-width: 720px) {
    main {
        transform: scale(0.6);
    }
}

@media (max-width: 620px) {
    main {
        transform: scale(0.5);
    }
}

@media (max-width: 520px) {
    main {
        transform: scale(0.4);
    }
}

@media (max-width: 420px) {
    main {
        transform: scale(0.3);
    }
}
